.btn {
  background-color: $cloud-grey;
  border: 2px solid $cloud-grey;
  border-radius: 4px;
  color: $charcoal-grey;
  font: 14px/20px Arial, sans-serif;
  padding: 5px 10px;

  &:hover, &:focus {
    background-color: $alabaster-grey;
    border-color: $jade-green;
  }

  &:not(:disabled):active,
  &:not(:disabled).pressed {
    background-color: $jade-green;
    border-color: $forest-green;
    box-shadow: inset 0px 0px 4px $forest-green;
    color: $white;
  }

  &:disabled {
    background-color: $alabaster-grey;
    border-color: $alabaster-grey;
    color: $smoke-grey;
    cursor: not-allowed;
  }

  &--sm {
    font-size: 12px;
    line-height: 16px;
    padding: 2px 5px;
  }

  &--lg {
    font-size: 16px;
    line-height: 24px;
    padding: 7px 14px;
  }
}
